:root {
  --p-color: rgb(41, 129, 201);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.container__p {
  min-height: 300px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1em 0;
  max-height: 100px;
  margin-bottom: 1em;
}

.cabeza {
  width: 50px;
  height: 50px;
  background-color: var(--p-color,rgb(41, 129, 201));
  border-radius: 50%;
}

.torso {
  position: relative;
  width: 10px;
  height: 100px;
  border-radius: 10px;
  left: 20px;
  top: -7px;
  background-color: var(--p-color,rgb(41, 129, 201));
}

.brazo1 {
  position: relative;
  width: 10px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--p-color,rgb(41, 129, 201));
  top: -92px;
  left: 5px;
  rotate: 15deg;
}

.brazo2 {
  position: relative;
  width: 10px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--p-color,rgb(41, 129, 201));
  top: -162px;
  left: 35px;
  rotate: -15deg;
}

.pierna1 {
  position: relative;
  width: 10px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--p-color,rgb(41, 129, 201));
  top: -162px;
  left: 12px;
  rotate: 12deg;
}

.pierna2 {
  position: relative;
  width: 10px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--p-color,rgb(41, 129, 201));
  top: -242px;
  left: 28px;
  rotate: -12deg;
}

#btn-play {
  margin-bottom: 2em;
}

.result {
  display: flex;
  justify-content: center;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters {
  margin-bottom: 2em;
}

.letters i {
  font-size: 2.2em;
}